#title
{
 text-align: center;
 color: #000000;
 font-size: xx-large;

}

h1{
    font-size: x-large;
}


h2{
    padding-bottom: 5px;
}


.navbar-fixed-top{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #F2F2F2;
    border-bottom: 1px solid #BDBDBD;
}


#nav_name{
        font-size: x-large;
      font-weight: bold;
      padding: 9px 16px;

}


.nav{
    display: inline-block;
    color: #6E6E6E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.dropdown-content{
    display: none;   
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;


}

nav li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

nav li {
    display: inline-block;
}


.active{
    background-color: #008000;
}



#last{
    float: right;
}



