#title
{
 text-align: center;
 color: #000000;
 font-size: xx-large;

}

h1{
    font-size: xx-large;
}

h2{
    font-size: x-large;
}


h3{
    font-size: large;
}


.navbar-fixed-top{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    background-color: #F2F2F2;
    border-bottom: 1px solid #BDBDBD;
}


#nav_name{
        font-size: x-large;
      font-weight: bold;
      padding: 9px 16px;

}


.nav{
    display: inline-block;
    color: #6E6E6E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.dropdown-content{
    display: none;   
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;


}

nav li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


nav li {
    display: inline-block;
}

#git{  /*git logo/link on right end of navbar*/
    float: right;
    padding: 0px 0px;
    border-left: 1px solid #BDBDBD;
}


.active{
    background-color: #008000;
}



#last{
    float: right;
}












.article p, .article a{
     font-size: 25px;

    }

#sus p{
    font-size: 18px;
}


.article a {
    color:white;
    background-color: #0080FF;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    border: 1px outset #0040FF;
    text-decoration: none;
    
    overflow: hidden;
    white-space: nowrap;
    
}


.article table{
    margin: 0 auto;
    font-size: 25px;
    }

.article table a{
    text-decoration: none;
    color: black;
    background-color: #E6E6E6;
    border: none ;
    padding: 0px 0px 0px 0px;
    }



table,td,th{
         border: 1px solid black;
    }

.black-box{
    color: white;
    background-color: #000000;
    border-radius: 2px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;


}

.canvas-container {

  height: 40vh;
  width: 40vw;
  margin: auto;
}

#analyse{
    text-align: center;
    font-size: 48px;
}

#switch{
    background-color: #E6E6E6;
    border: none;
    color: black;
    font-size: medium;
}


.closed #sign{
    display: inline-block;
}

.open #sign{
    display: inline-block;
    writing-mode: vertical-rl;
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.anchor{ /*Offset for anchor elements because of fixed navbar*/
    padding-top: 90px;
}







