#title /*Main Title of every site*/
{
 text-align: center;
 color: #000000; 
 font-size: 50pt;
}

h2{
    font-size: 70px;
}

h3{
    font-size: 50px;
}




.navbar-fixed-top{ /*fixed navbar on top of site*/
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    background-color: #F2F2F2;
    border-bottom: 1px solid #BDBDBD;
}

.navbar-content{  /*content of navbar starts 20% left of page*/
    margin-left: 20vw;
}

#nav_name{  /*Name of Project in Navbar*/
    font-size: x-large;
    font-weight: bold;
    padding: 9px 16px;

}

.nav{    /*single content of navbar*/
    display: inline-block;
    color: #6E6E6E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

nav li {
    float: left;
    
}



nav li a:hover, .dropdown:hover .dropbtn {    /*hover for navbar content*/
    color: #424242;
}


/*--Start Dropdown mechanism--*/

nav li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F2F2F2;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {color: #424242}

.dropdown:hover .dropdown-content {
    display: block;
}

/*--End Dropdown mechanism--*/


#git{  /*git logo/link on right end of navbar*/
    float: right;
    padding: 0px 0px;
    border-left: 1px solid #BDBDBD;
}


.active{ /*color of active element in navbar (not in use)*/
    background-color: #D8D8D8;
}


.article{
    margin-top: 15vh;
    background-color: #E6E6E6;
    border-radius: 5px;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}




.article p, .article a, .article li{
     font-size: 25px;
     
    }
.article li{
 margin-left: 5vw;
}
    
#sus p{
    font-size: 18px;
}





.bar{
    margin-top: 10px;
}    

.bar-el{
    padding-left: 1%;
    width: 7.5%;
    
    float: left;
    color: white;
    background-color: black;
    border-right: 2px solid #6E6E6E;
}
#A1{
    border-radius: 25px 0px 0px 25px;
}

.done{
    background-color: green;
}

.ak{
    background-color: red;
}

#R5{
    border-right: none;
    border-radius: 0px 25px 25px 0px;
}

.article a {
    color:white;
    background-color: #0080FF;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    border: 1px outset #0040FF;                          
    text-decoration: none;
}

.article a:hover {
    border: 1px inset #0040FF;
}


.black-box a{
 border: none;
 background-color: black;
 color: white;
 text-decoration: underline;
}

.black-box a:hover{
    border: none;
}


dd{
    display: none;
}

.canvas-container {
    
  height: 40vh;
  width: 40vw;
  margin: auto;
}


.right{
    padding-right: 2vw;
}


/*--Start Table--*/

.article table{
    margin: 0 auto;
    font-size: 25px;
    }

.article table a{
    text-decoration: none;
    color: black;
    background-color: #E6E6E6;
    border: none ;
    padding: 0px 0px 0px 0px;
    }

.article table a:hover{
    background-color: #D8D8D8;
    border: none;
}

table,td,th{
    border: 1px solid black;
}


/*--End Table--*/

#analyse{
    text-align: center;
    font-size: 48px;
}

#switch{
    background-color: #E6E6E6;
    border: none;
    color: black;
    font-size: medium;
}


.closed #sign{
    display: inline-block;
}

.open #sign{
    display: inline-block;
    writing-mode: vertical-rl;
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.anchor{
    padding-top: 3vh;
}


.black-box{ /*black box of information (for dates)*/
    color: white;
    background-color: #000000;
    border-radius: 2px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
       
}

