## Core latex/pdflatex auxiliary files:
*.aux
*.log

## Build tool auxiliary files:
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)

## Dia files
*.dia~

## Workspace
.metadata

/Code/cz17a/nbproject/private/
/Code/cz17a/build/